# Homework: Notebooks to Illustrator

In this notebook you'll be building basic graphics which you'll then export to Illustrator and clean up. Overall I'll be looking at **your attention to detail** when accurately reproducing the graphics.

# Homework tips

## How to do this homework

**Start in pandas, [Altair](https://altair-viz.github.io/) or ggplot,** export to PDF or SVG, then move on over to Illustrator. 
- To [save in Altair](https://altair-viz.github.io/user_guide/saving_charts.html#png-svg-and-pdf-format), you'll need to install the `vl-convert-python` package
- If you're using ggplot, I recommend saving to PDF instead of SVG when using `ggsave`

**Do these in whatever order you'd like.** Feel free to do a bar graph, then skip ahead to some line graphs, etc.

**You choose when to leave the notebook.** I personally do the majority of my work in Illustrator, so as soon as I have all the bars and text I need I'm exporting and am on my way. But some folks might want to tweak axes, colors and alignment before exporting.

If the coding is too tough, don't worry! Just use DataWrapper and on the **Publish & Embed** step choose to export as PDF under **Export or duplicate visualization**.

While ChatGPT is great for tweaks before you head out to Illustrator, **remember how it can prevent you from *actually learning how to do things*.** You should always start from the [Altair examples page](https://altair-viz.github.io/), [python-graph-gallery](https://python-graph-gallery.com/), [r-graph-gallery](https://r-graph-gallery.com/), or [ggplot flipbook](https://evamaerey.github.io/ggplot_flipbook/ggplot_flipbook_xaringan.html). ChatGPT is most useful for things like formatting numbers on axes.

## Illustrator tips

Illustrator guides and videos are available in the homework assignment itself. The tips below are just a quick reference.

### Opening things in Illustrator

Select everything (Command+A) then `Object > Clipping Mask > Release` (Command + Option + 7) again and again and again until it doesn't work any more. Also do the same thing with `Object > Ungroup` (Command + Option + G).

### Fill vs. stroke colors

Fill is the inside, stroke is the outline.

![](images/fill-stroke.png)

You select them separately. The white-with-a-red-line color means no color.

### Background colors

In Illustrator, draw a square as big as your entire artboard, then do `Select > Arrange > Send to Back` to make it go behind everything else.

### Editing lines

`Window > Stroke` to open up the stroke menu, then you can change the size with "Weight" or make it dashed with "Dashed line" (you might need to click the little... thing in the upper right-hand corner of the Stroke window and pick 'Show options' to be able to see that)

![](images/stroke-stuff.png)

### Selecting multiple things in Illustrator

Hold shift, click multiple things. Or click and drag a box around them.

### Selecting all of the _____

Things that look like what you have selected: `Select > Same > Appearance` or `Fill Color` or `Stroke Color` or whatever

Text: `Select > Object > All Text Objects`

### My grid/axis lines are on top of my chart!

Select the line, then `Object > Arrange > Send to Back`

### I sent something to the back and it disappeared!!!

Maybe you have a white rectangle as a background? Try clicking the background and hitting delete.

### Rotating text or other things

Click it (black arrow), then move your mouse around its edge until you see a thing that kind of implies you can rotate it. Click and drag.

### Drawing straight lines or rotating nicely

Hold shift while you draw the line or rotate or move a thing and it will go straight.

### Lining up things

When you have multiple things selected, the `Align` bar becomes active at the top. You can... align things with other things using it instead of manually pushing things around. You might want to play around with the different "Align to..." options.

![](images/align.png)

The "key object" one can be pretty good, as it uses the "key object" as an anchor and moves everything around it. You select the key object by clicking (without holding shift) after you've made your selection. Key object = blue box.

In [2]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [3]:
%%R

require('tidyverse')

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Loading required package: tidyverse

In [4]:
%%R
require('tidycensus')
require('tidyverse')

Loading required package: tidycensus

In [5]:
%%R
require('svglite')

Loading required package: svglite

## North Polar Ice Average Extent (data in each December of each year)

In [6]:
df = pd.read_csv('NH_Sea_Average_Extent.csv')
df

    year  Percentage_trend_through_year
0   1978                            NaN
1   1979                        -25.701
2   1980                         -3.115
3   1981                         -5.763
4   1982                         -0.467
5   1983                         -2.670
6   1984                         -5.758
7   1985                         -6.175
8   1986                         -5.075
9   1987                            NaN
10  1988                         -2.016
11  1989                         -1.392
12  1990                         -1.805
13  1991                         -2.367
14  1992                         -1.723
15  1993                         -1.426
16  1994                         -1.275
17  1995                         -1.629
18  1996                         -1.928
19  1997                         -1.873
20  1998                         -2.130
21  1999                         -2.408
22  2000                         -2.594
23  2001                         -2.827
24  2002                         -2.897
25  2003                         -2.940
26  2004                         -2.976
27  2005                         -3.167
28  2006                         -3.449
29  2007                         -3.617
30  2008                         -3.576
31  2009                         -3.593
32  2010                         -3.743
33  2011                         -3.723
34  2012                         -3.740
35  2013                         -3.678
36  2014                         -3.552
37  2015                         -3.530
38  2016                         -3.671
39  2017                         -3.699
40  2018                         -3.677
41  2019                         -3.636
42  2020                         -3.630
43  2021                         -3.514
44  2022                         -3.462
45  2023                         -3.383

In [7]:
%%R -i df -w 800 -h 350

#use ggplot to plot the data bar chart, with negative value shown as bars under 0
ggplot(df, aes(x=year, y=Percentage_trend_through_year)) + 
  geom_bar(stat='identity', aes(fill = Percentage_trend_through_year < 0), position='identity') +
  scale_fill_manual(values=c('blue','red')) +
  theme_minimal() +
  theme(axis.text.x = element_text(angle = 90, hjust = 1))


#save the plot into pdf
ggsave('NH_Sea_Average_Extent.pdf')

Saving 11.1 x 4.86 in image

In addition: Warning message:
Removed 2 rows containing missing values (`geom_bar()`).

## Sorth Polar Ice Average Extent (data in each December of each year)

In [8]:
df = pd.read_csv('SH_Sea_Average_Extent.csv')
df

    year  Percentage_trend_through_year
0   1978                            NaN
1   1979                       -111.420
2   1980                        -11.526
3   1981                         22.956
4   1982                         -6.820
5   1983                          1.701
6   1984                          5.386
7   1985                         13.516
8   1986                          5.523
9   1987                            NaN
10  1988                          8.433
11  1989                          4.101
12  1990                          2.066
13  1991                          1.529
14  1992                          1.209
15  1993                          0.370
16  1994                          0.123
17  1995                          0.830
18  1996                         -0.153
19  1997                          0.013
20  1998                          0.421
21  1999                          0.949
22  2000                          0.498
23  2001                          0.567
24  2002                          1.004
25  2003                          1.151
26  2004                          1.008
27  2005                          0.495
28  2006                          0.191
29  2007                          1.263
30  2008                          1.860
31  2009                          1.920
32  2010                          2.233
33  2011                          2.449
34  2012                          2.246
35  2013                          2.700
36  2014                          3.105
37  2015                          2.940
38  2016                          1.903
39  2017                          1.431
40  2018                          0.922
41  2019                          0.550
42  2020                          0.582
43  2021                          0.217
44  2022                         -0.214
45  2023                         -0.636

In [10]:
%%R -i df -w 800 -h 350

#use ggplot to plot the data bar chart, with negative value shown as bars under 0
ggplot(df, aes(x=year, y=Percentage_trend_through_year)) + 
  geom_bar(stat='identity', aes(fill = Percentage_trend_through_year < 0), position='identity') +
  scale_fill_manual(values=c('red','blue')) +
  theme_minimal() +
  theme(axis.text.x = element_text(angle = 90, hjust = 1))


#save the plot into pdf
ggsave('SH_Sea_Average_Extent.pdf')

Saving 11.1 x 4.86 in image

In addition: Warning message:
Removed 2 rows containing missing values (`geom_bar()`).

## North Polar Ice Area by km^2 (data in each December in each year)

In [77]:
df = pd.read_csv('NH_Ice_Area.csv')
df

    Year        Area
0   1978         NaN
1   1979  706099.317
2   1980  743776.569
3   1981  688569.466
4   1982  704472.290
5   1983  949026.679
6   1984  922757.692
7   1985  892037.294
8   1986  627838.171
9   1987  873309.149
10  1989  727488.906
11  1990  758913.619
12  1991  840946.294
13  1992  787241.379
14  1993  863888.151
15  1994  868016.386
16  1995  771817.773
17  1996  692942.264
18  1997  687889.499
19  1998  642808.327
20  1999  573983.960
21  2000  712953.046
22  2001  626860.310
23  2002  615672.279
24  2003  547967.178
25  2004  564712.529
26  2005  669400.677
27  2006  546639.257
28  2007  570962.563
29  2008  672270.876
30  2009  705591.892
31  2010  592668.064
32  2011  429836.145
33  2012  664210.224
34  2013  576878.270
35  2014  676706.482
36  2015  631768.489
37  2016  782783.867
38  2017  670123.061
39  2018  597125.776
40  2019  705892.863
41  2020  520691.416
42  2021  582755.091
43  2022  526410.045
44  2023  607732.477
45  2024  515872.237

In [78]:
%%R -i df -w 1200

#use ggplot to plot the data into line chart
ggplot(df, aes(x=Year, y=Area)) + 
  geom_line() +
  theme_minimal() +
  theme(axis.text.x = element_text(angle = 90, hjust = 1))

#save the plot into pdf
ggsave('NH_Ice_Area.pdf')

Saving 16.7 x 6.67 in image

In addition: Warning message:
Removed 1 row containing missing values (`geom_line()`).

## South Polar Ice Area by km^2 (data in each December in each year)

In [81]:
df = pd.read_csv('SH_Ice_Area.csv')
df

    Year         Area
0   1978          NaN
1   1979  1290336.315
2   1980  1208354.722
3   1981   902012.612
4   1982  1132504.746
5   1983   932089.697
6   1984   992583.824
7   1985   959957.956
8   1986  1176340.473
9   1987  1211622.716
10  1989   820073.301
11  1990   885378.424
12  1991   963950.726
13  1992   674666.694
14  1993   771709.717
15  1994   886191.355
16  1995   876680.248
17  1996   857594.339
18  1997   802303.100
19  1998   774404.772
20  1999   870432.267
21  2000  1051553.716
22  2001   985419.053
23  2002   882210.931
24  2003   736659.716
25  2004   973605.493
26  2005  1065365.694
27  2006   697158.425
28  2007   680112.316
29  2008   696359.114
30  2009   679511.441
31  2010   724399.457
32  2011  1139523.555
33  2012   816176.901
34  2013   828505.815
35  2014  1141660.402
36  2015   877869.772
37  2016  1040431.623
38  2017   627568.163
39  2018  1058397.327
40  2019   940208.403
41  2020   919404.035
42  2021  1070578.743
43  2022   690656.538
44  2023   611628.845
45  2024   857577.276

In [84]:
%%R -i df -w 1200

#use ggplot to plot the data into line chart
ggplot(df, aes(x=Year, y=Area)) + 
  geom_line() +
  theme_minimal() +
  theme(axis.text.x = element_text(angle = 90, hjust = 1))

#save the plot into pdf
ggsave('SH_Ice_Area.pdf')

Saving 16.7 x 6.67 in image

In addition: Warning message:
Removed 1 row containing missing values (`geom_line()`).